
<ion-view view-title="{{good.goodsName}}">
  <!-- <ion-nav-buttons side="left"> -->

  <ion-content class="good-detail main">
  	<div class="list">
		<div class="item item-avatar">
	    	<img src="{{good.imgUrl}}">
	    	<h2>{{good.goodsName}}</h2>
	    	<p>{{good.goodsDesc}}</p>
	    </div>
	    <div class="item item-image">
	    	<img src="{{good.imgUrl}}">
	    </div>
	    <div class="item item-button-right">
        	<font class="theme-color price">￥{{good.price}}</font> <del>￥{{good.oldPrice}}</del>
        	<button class="button button-energized">立即抢购</button>
        </div>
	</div>
	<div class="list">
		<div class="item item-divider">
            商家信息
        </div>
	    <div class="item item-icon-right">
        	{{good.shopinfo.shopName}}
        	<p>{{good.shopinfo.shopDesc}}</p>
        	<i class="icon ion-ios-telephone-outline"></i>
        	<p><i class="ion-ios-location-outline"></i> 0m <a class="energized">离我最近</a></p>
        </div>
	</div>
  </ion-content>
</ion-view>
