
<ion-view view-title="提交订单">
  <ion-content class="main">
  	<div class="list">
      <a class="item" href="#">
        <p>订单名称: {{order.goodName}} <br><br> 订单金额: {{order.amount}} 元</p>
      </a>
    </div>
    <div class="list">
	    <li class="item item-checkbox" ng-repeat="val in payTypes">
	        <label class="checkbox checkbox-balanced">
	           <input type="radio" name="payType" ng-model="$parent.payType" value="{{val.v}}">
	        </label>
	        {{val.name}}
	        <span class="item-note" ng-if="val.v==1">
	          账户余额：¥ {{order.user.balance}}
	        </span>
	    </li>
    </div>
    <div class="padding pt0">
        <button class="button button-full button-energized" ng-click="subPay(payType)">支付</button>
    </div>
    <div class="padding pt0">
        <button class="button button-full button-energized" bicheng>指令</button>
    </div>
  </ion-content>
</ion-view>
